/* index.css */

@import 'locomotive-scroll/dist/locomotive-scroll.css'; /* For smooth scrolling */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Styles */
html {
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #121212;
    color: white;
  }
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  nav a {
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffd700;
  }
  